<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GridJams</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  </head>
  <body>

    <div>
      <form id = "music_form" action='/jam/' method="post">
          Sound: <select id="sound" name="sound">
              <option value="Airplane">Airplane</option>
              <option value="Boomerang">Boomerang</option>
              <option value="Marbles">Marbles</option>
          </select>
      <button  class="bold button" type="submit"  value = "Submit">Go</button>
      </form>
    </div>

    <footer class="footer">
      <p>&copy; Iteractive Art CI Fall 2017</p>
    </footer>

    </div>
  </body>
</html>
